* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8F9;
  font-family: Arial, Helvetica, sans-serif;
  color: #414650;
}

 /* HEADER  */
.head-container {
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 80px;
}

.head-container .logo {
  vertical-align: middle;
}

.head-container span {
  vertical-align: middle;
  font-weight: bold;
  font-size: 42px;
 }

/* MAIN  */
.main-container {
  width: 950px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px 50px 50px;
}

 /* NAV */
nav {
  border-bottom: 3px solid #F6F8F9;
  padding-bottom: 10px;
}

nav button {
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 0.8rem;
}

nav button:hover {
  cursor: pointer;
}

nav .task-btn {
  background-color: #47ADF1;
  color: white;
  border: 2px solid #47ADF1;
}

nav .section-btn {
  background-color: white;
  color: #D2D7DB;
  border: 2px solid #D2D7DB;
}

/* TASK LISTS  */
.task-lists li {
  list-style-type: none;
  padding-left: 5px;
  line-height: 50px;
}

.task-lists h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

.task-lists .mark {
  border-radius: 50%;
  padding: 3px 6px 3px 5px;
  margin-right: 5px;
  font-size: 0.7rem ;
}

.task-lists .check {
  color: #58BCA5;
  border: 2px solid #58BCA5;
}

.task-lists .cross {
  color: red;
  border: 2px solid red;
}

 /* TASK LABEL  */
 .task-lists .task-label {
  font-size: .7rem;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
}

.task-lists .editorial.task-label {
  background-color: #45ABEA;
}

.task-lists .q1-goal.task-label {
  background-color: #9C72E4;
}

.task-lists .recruiting.task-label {
  background-color: #64C0A9;
}

.task-lists .mobile.task-label {
  background-color: #F29E33;
}

.task-lists .website.task-label {
  background-color: #D863A1;
}

.task-lists .sales.task-label {
  background-color: #B0C926;
}